@import "reset.scss";

$success: rgb(35,209,96);
$danger: rgb(255,56,96);

input,
textarea {
    width: 100%;
    border: 1px solid #818181;
    border-radius: 2px;
    padding: 5px;
    font-size: .8em;

    &:focus {
        border-color: #58bee5;
    }
}

button {
    border: 1px solid #818181;
    border-radius: 3px;
    background-color: #818181;
    padding: 8px;
    color: #fff;
    font-weight: 700;

    &:disabled {
        border-color: #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

.success {
    background-color: $success;
    border-color: darken($success, 10%);
}

.danger {
    background-color: $danger;
    border-color: darken($danger, 20%);
}

#container {
    display: grid;
    grid-template-columns: minmax(320px, 900px);
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2em;

    main {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }

    h1 {
        text-align: center;
    }

    #form-buttons {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .invalid-input {
        color: $danger;
        font-size: .7em;
        font-weight: 600;
    }
}
